@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}

/* Header */
#header-section {
    padding: 40px 0 107px;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color:#000;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.arrow:hover {
    opacity: 0.8;
}


/* Main */

.table_info {
    font-size: xx-large;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#airports_table {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(21, 88, 88);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#airports_table td {
    border: 1px solid rgb(21, 88, 88);
    width: 33%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 10%;
}
#airports_table th {
    border: 1px solid rgb(21, 88, 88);
    width: 33%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 10%;
    background-color: #2a2929;
}
.chart_and_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts {
    max-width: 1200px;
    display: flex;
    align-items: top;
    margin-top: 15px;
    justify-content: space-between;
    margin: 0 auto;
}

.chart_info {
    margin-bottom: 2px;
    text-align: center;
}

#profit_chart {
    vertical-align: text-top;
    display: inline-block;
    min-width: 350px;
} 
#ownership_chart {
    vertical-align: text-top;
    display: inline-block;
    min-width: 350px;
}
 
#busyness_chart {
    vertical-align: text-top;
    display: inline-block;
    min-width: 350px;
}

#big_chart {
    width: 100%;
}

#second_section {
    margin-top: 30px;
}

.charts_title {
    font-size: xx-large;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.last_chart {
    font-size: xx-large;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.chart {
    display: flex;
    flex-direction: column;
    flex: 1;
}
